.DS_Store

custom.el
.authinfo
.ircauthinfo
auto-save-list/

*.el~
*.elc

projectile-bookmarks.eld
projectile.cache

workgroups/

elpa/

ido.last

smex-items

recentf

bookmarks

.python-environments

init.html

ac-comphist.dat